.featuredProperties {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.featuredPropertiesItem {
  flex: 1;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.featuredPropertiesImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.featuredPropertiesName {
  color: #333;
  font-weight: bold;
}

.featuredPropertiesCity {
  font-weight: 300;
}

.featuredPropertiesPrice {
  font-weight: 500;
}

.featuredPropertiesRating > {
  button {
    background-color: #003580;
    color: white;
    border: none;
    padding: 3px;
    margin-right: 10px;
    font-weight: bold;
  }

  span {
    font-size: 14px;
  }
}
