.searchItem {
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.searchItemImg {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.searchItemDesc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 2;
}

.searchItemTitle {
    font-size: 20px;
    color: #0071c2;
}

.searchItemDistance {
    font-size: 12px;
}

.searchItemTaxiOp {
    font-size: 12px;
    background-color: #008009;
    color: white;
    width: max-content;
    padding: 3px;
    border-radius: 5px;
}

.searchItemSubtitle {
    font-size: 12px;
    font-weight: bold;
}

.searchItemFeatures {
    font-size: 12px;
}

.searchItemCancelOp {
    font-size: 12px;
    color: #008009;
    font-weight: bold;
}

.searchItemCancelOpSubtitle {
    font-size: 12px;
    color: #008009;
}

.searchItemDetails {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.searchItemRating {
    display: flex;
    justify-content: space-between;

    > {
        span {
            font-weight: 500;
        }

        button {
            background-color: #003580;
            color: white;
            padding: 5px;
            font-weight: bold;
            border: none;
        }
    }
}

.searchItemDetailTexts {
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.searchItemPrice {
    font-size: 24px;
}

.searchItemTaxOp {
    font-size: 12px;
    color: gray;
}

.searchItemCheckButton {
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    padding: 10px 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

// phablet and mobile
@media screen and (max-width: 665px) {
    .searchItem {
        flex-direction: column;
        margin-top: 36px;
    }

    .searchItemImg {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
}