.header {
  background-color: #003580;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.headerTitle {
  font-size: 48px;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;

  &.listMode {
    margin: 20px 0px 0px 0px;
  }
}

.headerList {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;

  &.active {
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
  }
}

.headerDesc {
  margin: 20px 0px;
}

.headerBtn {
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
}

.headerSearch {
  height: 30px;
  background-color: white;
  border: 3px solid #febb02;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
}

.headerIcon {
  color: lightgray;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchInput {
  border: none;
  outline: none;
}

.headerSearchText {
  color: lightgray;
  cursor: pointer;
}

.date {
  position: absolute;
  top: 53px;
  left: 258px;
  z-index: 2;
}

.options {
  z-index: 2;
  position: absolute;
  top: 53px;
  right: 184px;
  background-color: white;
  color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  background-color: white;

  &:disabled {
    cursor: not-allowed;
  }
}

// laptop
@media screen and (max-width: 1024px) {
  .headerContainer {
    margin: 20px 9px 100px 10px;
  }

  .headerSearch {
    width: 97.5%;

    .headerSearchText {
      font-size: 14px;
    }
  }
}

// tablet and phablet
@media screen and (max-width: 768px) and (min-width: 550px) {
  .headerContainer {
    margin: 20px 10px 100px 9px;
  }

  .headerTitle {
    font-size: 40px;
  }

  .headerSearch {
    width: 96.5%;
    height: 53px;

    .headerSearchText {
      display: flex;
      text-align: center;
    }

    .headerSearchInput {
      text-align: center;
    }
  }

  .headerBtn {
    margin-right: 6px;
  }

  .headerList {
    gap: 20px;
    font-size: 14px;
  }

  .headerSearchItem {
    gap: 10px;
    flex-direction: column;
  }

  .date {
    color: #000000;
    font-size: 12px;
    left: 56px;
    top: 68px;
  }

  .options {
    top: 73px;
    right: 37px;
  }
}


//  movil
@media screen and (max-width: 549px) {

  .header {
    height: 492px;
  }

  .headerSearch {
    flex-direction: column;
  }

  .headerList {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 50px;
    align-items: center;
    justify-content: space-evenly;
  }

  .headerTitle {
    font-size: 23px;
  }

  .headerBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
  }

  .headerSearch {
    width: 92.5%;
    height: 137px;
    flex-direction: column;
    gap: 10px;
    top: 323px;
    right: 17px;
    left: 11px;
  }

  .date {
    color: #000000;
    font-size: 12px;
    position: absolute;
    left: 24px;
    top: 72px;
  }

  .options {
    top: 101px;
    right: 92px;
  }


}